.card {
  background: white;
  padding: 20px;
  width: 340px;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dateRow {
  font-size: 16px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.itemsList {
  list-style-type: disc;
  padding-left: 20px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.cartIcon {
  color: #555;
}

.smallIcon {
  cursor: pointer;
  transition: 0.2s;
}

.smallIcon:hover {
  opacity: 0.6;
}

.addRow {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.addInput {
  flex: 1;
  padding: 6px 10px;
  border-radius: 12px;
  border: 1px solid #aaa;
}

.qtyInput {
  width: 50px;
  text-align: center;
  padding: 6px;
  border-radius: 12px;
  border: 1px solid #aaa;
}

.addBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #555;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.saveBtn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #d32f2f; /* אדום */
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.saveBtn:hover {
  background: #b71c1c;
}

.icon {
  cursor: pointer;
}
