.wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif

}
.section {
  margin-bottom: 16px;
}
.inputField,
.textareaField,
.numberInput {
  width: 100%;
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.textareaField {
  resize: vertical;
}
.itemsList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #eee;
  padding-bottom: 6px;
}
.item span {
  flex: 1;
}
.item button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}
.item input[type="number"] {
  width: 60px;
}
.addItem {
  display: flex;
  gap: 6px;
  margin-top: 10px;
}
.addItem input[type="number"] {
  width: 60px;
}
.saveButton {
   margin: 10px auto 0; 
  display: block;  
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #ff3131;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.saveButton:hover {
  background-color: #737373;
}
.titleRow,
.dateRow,
.descriptionRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
.title {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}
.titleInput {
  font-size: 28px;
  font-weight: 700;
  padding: 4px 8px;
  width: 100%;
}
.dateInput {
  padding: 4px 8px;
  font-size: 14px;
}
.dateRow span {
  font-size: 14px;
  color: #555;
}
.descriptionRow p {
  margin: 0;
  font-size: 14px;
  color: #444;
}

.icon {
  cursor: pointer;
  color: #555;
  transition: color 0.2s;
}
.icon:hover {
  color: #000;
}
.listHeader {
  display: flex;
  font-weight: 600;
  margin: 16px 0 8px;
}
.itemCol {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 6px;
}
.qtyCol {
  width: 60px;
  text-align: center;
}

