.container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.bgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  /* filter: blur(4px); */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); /* מרכז את הטקסט */
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: bold;
  z-index: 1;
  text-align: center;
}
