.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 550px;
}

.card {
  background: #f3f3f3;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  overflow-y: auto;
}

.date {
  font-size: 12px;
  color: #000000;
  margin-bottom: 8px;
  font-weight: 20px;
}

.content {
  font-size: 20px;
  font-weight: bold;
  margin: 8px 0;
  line-height: 1.5;
  flex-shrink: 0;
}

.author {
  margin-top: 6px;
  font-weight: 400;
  text-align: right;
}

.reactionsOutside {
  display: flex;
  gap: 12px;
  margin-top: 6px;
  padding-left: 8px;
  font-size: 18px;
}

.icon {
  background: transparent;
  border: 1px solid #aaa;
  /* מסגרת קטנה סביב כל אייקון */
  border-radius: 6px;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 22px;
  opacity: 0.6;
  transition: transform 0.3s ease, opacity 0.3s ease, border-color 0.3s ease;
}

.icon:hover {
  opacity: 0.9;
  border-color: #888;
  /* שינוי צבע בעת ריחוף */
}

.icon:active {
  transform: rotate(15deg);
  transition: transform 0.2s ease;
}

/* @keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-50px); 
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */
.error {
  color: red;
  margin-top: 5px;
  font-size: 0.9rem;
}